[service_tls]
Type = wifi
Name = tlsrezo
EAP = tls
CACertFile = /var/lib/connman/certs/ca.pem
ClientCertFile = /var/lib/connman/certs/client.pem
PrivateKeyFile = /var/lib/connman/certs/client.key
PrivateKeyPassphrase = whatever
Identity = maxence

[service_peap]
Type = wifi
Name = peaprezo
EAP = peap
Phase2 = MSCHAPV2
Identity = maxence
Passphrase = pipo

[service_ttls]
Type = wifi
Name = ttlsrezo
EAP = ttls
Phase2 = MSCHAPV2
Identity = maxence
Passphrase = pipo

[service_wpa2]
Type = wifi
Name = wpa2rezo
Passphrase = 12345678

[service_wpa]
Type = wifi
Name = wparezo
Passphrase = 12345678

[service_wep]
Type = wifi
Name = weprezo
Passphrase = 123456789a

